.torentLinks{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 5px;
}
.TorentItems{
   margin-top: 10px;
   max-width: 100%;    
}
.torentP{
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #f14e13;
    color: white;
    padding: 10px 15px;
}